[package]
name = "rsdd"
version = "0.1.0"
edition = "2018"
authors = ["Steven Holtzen <sholtzen@gmail.com>"]
license = "MIT"
repository = "https://github.com/neuppl/rsdd"
description = "Rust decision diagrams."
resolver = "2"

[dependencies]
fnv = "1.0.3"
rand = "0.8.5"
dimacs = "0.2.0"
primal = "0.3.0"
pretty = "0.3.3"
num = "0.4.0"
maplit = "1.0.1"
libc = "0.2"
quickcheck = "1.0.3"
serde = { version = "1.0", features = ["derive"] }
clap = { version = "4.2.1", features = ["derive"] }
criterion = "0.3"
rustc-hash = "1.1.0"
serde_json = "1.0.81"
bit-set = "0.5.3"
segment-tree = "2.0.0"
dot = "0.1.4"
tinyvec = { version = "1.6.0", features = ["alloc"] }
bumpalo = "3.11.1"
petgraph = "0.6.2"
rsgm = { git = "https://github.com/neuppl/rsgm" }
rand_chacha = "0.3.1"
getrandom = { version = "0.2", features = ["js"] } # req for wasm
wasm-bindgen = "0.2.84"
serde-wasm-bindgen = "0.4"

[dev-dependencies]
time-test = "0.2.2"


[lib]
name = "rsdd"
path = "src/lib.rs"
crate-type = ["cdylib", "lib"]

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = true
panic = 'abort'
incremental = false
codegen-units = 16
rpath = false

[[bin]]
name = "one_shot_benchmark"
path = "bin/one_shot_benchmark.rs"

[[bin]]
name = "bayesian_network_compiler"
path = "bin/bayesian_network_compiler.rs"

[[bin]]
name = "semantic_hash_experiment"
path = "bin/semantic_hash_experiment.rs"

[[bin]]
name = "marginal_map_experiment"
path = "bin/marginal_map_experiment.rs"

[[bin]]
name = "dump_models"
path = "bin/dump_models.rs"
